/*Navbar*/
#logo {
    width: 8rem !important;
    height: 5rem !important;
}

.nav-item {
    font-size: 1rem;
}

.nav-item {
    font-size: 1rem;
}

.navbar-nav .nav-item a,
#enlacesFooter a,
#redesSociales a,
#telefono,
#mail {
    position: relative;
    text-decoration: none;
}

.navbar-nav .nav-item a::before,
#enlacesFooter a::before,
#redesSociales a::before,
#telefono::before,
#mail::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.3s linear;
}

.navbar-nav .nav-item a:hover::before,
#enlacesFooter a:hover::before,
#redesSociales a:hover::before,
#telefono:hover::before,
#mail:hover::before {
    width: 100%;
}

.form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='white' class='bi bi-chevron-down' viewBox='0 0 16 16'%3e%3cpath d='M1 5l7 7 7-7H1z'/%3e%3c/svg%3e");
}

/*Servicios*/
#servicios .card img {
    transition: height 0.3s linear;
}

#servicios .card-body {
    z-index: 4!important;
}

.top-65 {
    top: 65% !important;
}

/*Colaboradores*/
#colaboradoresContainer img {
    max-width: 100%;
}

/*Footer*/
#contacto {
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-position: center;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }

    .carousel-inner {
        display: flex;
    }
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }

    .carousel-inner {
        display: flex;
    }
}